<div class="page">
    <div class="page__hd">
        <h1 class="page__title">Badge</h1>
        <p class="page__desc">Small Badge to inform user about changes</p>
    </div>
    <div class="page__bd">
        <div class="weui-cells__title">Right side badge to indicate known changes</div>
        <div class="weui-cells">
            <div class="weui-cell weui-cell_access">
                <div class="weui-cell__bd">Standard Cell</div>
                <div class="weui-cell__ft" style="font-size: 0">
                    <span style="vertical-align:middle; font-size: 17px;">Description</span>
                    <span class="weui-badge weui-badge_dot" style="margin-left: 5px;margin-right: 5px;"></span>
                </div>
            </div>
        </div>

        <div class="weui-cells__title">Left side badge to indicate unread contents</div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                    <img src="images/pic_160.png" style="width: 50px;display: block"/>
                    <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">8</span>
                </div>
                <div class="weui-cell__bd">
                    <p>Contact Name</p>
                    <p style="font-size: 13px;color: #888888;">Description</p>
                </div>
            </div>
            <div class="weui-cell weui-cell_access">
                <div class="weui-cell__bd">
                    <span style="vertical-align: middle">Standard Cell</span>
                    <span class="weui-badge" style="margin-left: 5px;">8</span>
                </div>
                <div class="weui-cell__ft"></div>
            </div>
            <div class="weui-cell weui-cell_access">
                <div class="weui-cell__bd">
                    <span style="vertical-align: middle">Standard Cell</span>
                    <span class="weui-badge" style="margin-left: 5px;">8</span>
                </div>
                <div class="weui-cell__ft">Description</div>
            </div>
            <div class="weui-cell weui-cell_access">
                <div class="weui-cell__bd">
                    <span style="vertical-align: middle">Standard Cell</span>
                    <span class="weui-badge" style="margin-left: 5px;">New</span>
                </div>
                <div class="weui-cell__ft"></div>
            </div>
        </div>
    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png" /></a>
    </div>
</div>