<div class="page">
    <div class="page__hd">
        <h1 class="page__title">Button</h1>
        <p class="page__desc">used fo general actions</p>
    </div>
    <div class="page__bd page__bd_spacing">
        <a href="javascript:;" class="weui-btn weui-btn_primary">Primary Action Normal</a>
        <a href="javascript:;" class="weui-btn weui-btn_disabled weui-btn_primary">Primary Action Disabled</a>
        <a href="javascript:;" class="weui-btn weui-btn_default">Default Action Normal</a>
        <a href="javascript:;" class="weui-btn weui-btn_disabled weui-btn_default">Default Action Disabled</a>
        <a href="javascript:;" class="weui-btn weui-btn_warn">Danger Action Normal</a>
        <a href="javascript:;" class="weui-btn weui-btn_disabled weui-btn_warn">Danger Action Disabled</a>
        
        <div class="button-sp-area">
            <a href="javascript:;" class="weui-btn weui-btn_plain-default">Button</a>
            <a href="javascript:;" class="weui-btn weui-btn_plain-default weui-btn_plain-disabled">Button</a>
            <a href="javascript:;" class="weui-btn weui-btn_plain-primary">Button</a>
            <a href="javascript:;" class="weui-btn weui-btn_plain-primary weui-btn_plain-disabled">Button</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">Button</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">Button</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_warn">Button</a>
        </div>
    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png" /></a>
    </div>
</div>