<div class="page">
    <div class="page__hd">
        <div class="j_info page__info" data-for="normal">
            <h2 class="page__title">WeUI Page Layers</h2>
            <p class="page__desc">Speicification about WeUI components layer index when use with each other</p>
        </div>
        <div class="j_info page__info" data-for="popout" style="display:none">
            <h2 class="page__title">Popout</h2>
            <p class="page__desc">
            Popout Layer, used for notifications like menus, Actionsheet, Toasts and form Tips
            </p>
        </div>
        <div class="j_info page__info" data-for="mask" style="display:none">
            <h2 class="page__title">Mask</h2>
            <p class="page__desc">Mask Layer, Use with Popout layer, to lock content and navigation action, should not be use alone</p>
        </div>
        <div class="j_info page__info" data-for="navigation" style="display:none">
            <h2 class="page__title">Navigation</h2>
            <p class="page__desc">Navigation Layer, display on top of Content Layer, usually to display fix elment like TabBar or NavBar</p>
        </div>
        <div class="j_info page__info" data-for="content" style="display:none">
            <h2 class="page__title">Content</h2>
            <p class="page__desc">Content Layer, Container for page contents</p>
        </div>
    </div>
    <div class="page__bd">
        <div class="layers j_layers">
            <div data-name="popout" class="j_pic j_layer layers__layer layers__layer_popout"><span>Popout</span></div>
            <div data-name="mask" class="j_pic j_layer layers__layer layers__layer_mask"><span>Mask</span></div>
            <div data-name="navigation" class="j_pic j_layer layers__layer layers__layer_navigation"><span>Navigation</span></div>
            <div data-name="content" class="j_pic j_layer layers__layer layers__layer_content"><span>Content</span></div>
        </div>
    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png" /></a>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        var $layers = $(".layers__layer"), $infos = $(".j_info"),
            hideTimeout;

        function showInfo(name){
            $infos.filter("[data-for='" + name + "']").show().siblings().hide();
        }
        function hideIfLayerShowing(){
            if($layers.filter(".j_transform").length != $layers.length){ // 展示中
                showInfo("normal");
                $layers.addClass("j_transform");

                clearTimeout(hideTimeout);
                hideTimeout = setTimeout(function(){
                    $layers.removeClass("j_hide");
                }, 300);
                return true;
            }
            return false;
        }
        $layers.on("transitionend webkitTransitionend", function(){
            var that = this;
            if(that.classList.contains("j_transform")){
                setTimeout(function(){
                    that.classList.remove("j_pic");
                }, 500);
            }else{
                that.classList.add("j_pic");
            }
        });
        setTimeout(function(){
            $layers.addClass("j_transform");

            $(".j_layer").on("click", function(e){
                if(hideIfLayerShowing()) return;

                var target = this;
                if(target.classList.contains("j_layer")){
                    clearTimeout(hideTimeout);

                    var name;
                    target = $(target);
                    name = target.data("name");
                    showInfo(name);

                    target.removeClass("j_transform").siblings().addClass("j_hide");
                }
            });
        }, 500);
    });
</script>